body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15em;
  background-color: white;
  text-align: center;
}

#page {
  max-width: 940px;
  min-width: 740px;
  margin: 10px auto 10px auto;
  padding: 20px;
}

#logo {
  width: 451px;
  margin: 10px auto 25px auto;
}

p {
  color: white;
  border-radius: 15px;
  background-color: #545454;
}

.main > p {
  padding: 10px;
  max-width: 685px;
  letter-spacing: 0.05em;
  margin: 10px auto 10px auto;
  max-width: 685px;
  font-size: 90%;
  line-height: 20px;
}

p#otest {
  max-height: 100px;
  overflow: hidden;
  border: 3px solid;
  border-color: red blue yellow green;
}

li {
  display: inline;
  padding: 10px;
  margin: 0px 3px;
}

ul {
  width: 685px;
  padding: 15px;
  margin: 0px auto 0px auto;
  border-top: 2px solid #545454;
  border-bottom: 1px solid #545454;
}

a {
  color: #438fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 18px 5px 18px;
}

.siblingFade a, a.on {
    padding: 0 1rem;
    transition: opacity 0.2s;
}
.siblingFade:hover a:not(:hover) {
    opacity: 0.5;
}
