* {
  font-family: Arial, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

#container {
  margin: 200px auto 0 auto;

  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#container .img {
  height: 100%;
}

#navi {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 30px;
  text-align: left;

  background-color: #ff5050;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
}

ul li:hover {
  background-color: #ff8080;
}

ul li:active {
  background-color: #ff5050;
}

li i {
  width: 20px;
  margin-right: 10px;
  margin-left: 0;
}

li span {
  flex-grow: 1;
}

@media (max-width: 600px) {
  #container {
    flex-direction: column;
  }

  #navi {
    margin: auto;
  }

  .image {
    margin-bottom: 20px;
  }
}
